.decribtion_bmw{
    background-color: #F5F5F5;
    padding: 24px;
}
#bmw_heading{
    margin-top: 120px;
    display: flex;
    justify-content: center;
               color: #000;

       font-family: 'Montserrat';
       font-size: 26px;
       font-style: bolder;
       font-weight: 700;
       letter-spacing: 7.8px;
       align-items: center;
       padding: 0px 20px;
}
.bmw_main_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.bmw_about{
    width: 349px;
    color: #000;

font-family: 'Montserrat';
font-size: 14px;
font-weight: 300; 
letter-spacing: 0.7px;
}
.bmw_left{
    margin-right: 100px;
}
.bmw_about_handle{
    width: 477px;
    color: #000;

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300; 
    letter-spacing: 0.7px;
    margin-top: 56px;
}
.bmw_booking{
    display: flex;
    justify-content: center ;
 }
.bmw_book{
    max-width: 319px;
                    margin-top: 20px;
                    width: 100%;
            height: 52px;
            border-radius: 5px;
            background: #F8D849;
            color: #000;
            
            text-align: center;
            font-family: 'Helvetica';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-color: #F8D849;
            align-items: center;
}
@media (max-width:576px) {
   .decribtion_bmw{ 
    #bmw_heading {
        font-size: 22px !important;
        margin-top: 40px !important;
    }
}
.bmw_left{
    margin: 0px !important;
}
    .bmw_about{
        display: flex !important;
        justify-content: center !important;
    }
    .bmw_engine{
        display: flex !important;
        justify-content: center !important;
    }
    .bmw_insiteP{
        margin-top: 20px !important;
    }
    .bmw_insite{
        display: flex !important;
        justify-content: center !important;
        width: 345px !important;
        height: 220px !important;
 }
 .bmw_book{
    display: flex !important;
    justify-content: center !important;
 }
 .bmw-stir{
    display: flex !important;
    justify-content: center !important;
    margin-top: 30px !important;
 }
 .bmw_booking{
    display: flex !important;
    justify-content: center !important;
 }

}
@media (max-width:1082px) {
    .bmw-stir{
        display: flex !important;
        justify-content: center !important;
        margin-top: 30px !important;
     }
}
@media (max-width:680px) {
    .bmw-stir{
        display: flex !important;
        justify-content: center !important;
        margin-top: 30px !important;
     }
     .bmw_insite{
        display: flex !important;
        justify-content: center !important;
        width: 400px !important;
        height: 220px !important;
 }
 .decribtion_bmw{ 
    #bmw_heading {
        font-size: 23px !important;
    }
}
.bmw_left{
    margin: 0px !important;
}
}
@media (max-width:516px) {
    .decribtion_bmw{ 
        #bmw_heading {
            font-size: 14px !important;
        }
    }
    .bmw_about_handle{
        width: 389px !important;
    }
    .bmw_book{
        max-width: 280px !important;
        width: 100% !important;
    }
}
@media (max-width:432px) {
  
    .bmw_about_handle{
        width: 339px !important;
    }
    .bmw_insite{
        display: flex !important;
        justify-content: center !important;
        width: 354px !important;
        height: 220px !important;
 }
}